*{
  margin: 0;
  padding: 0;
}
html {
	font-size: 100px;
}
body {
	font-size: .14em;
	line-height: 1.5;
    font-family: Arial,Helvetica,sans-serif;
}
ul {
	list-style: none;
}
p,ul,dd,dl,h2 {
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
a {
	text-decoration: none;
	-webkit-tap-highlight-color:transparent;
}
button {
	-webkit-tap-highlight-color:transparent;
}
img{
  display: block;
}
.overflow{
	overflow: hidden;
}