<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/common/normalize.css" />
    <link rel="stylesheet" href="../css/common/reset.css" />
    <link rel="stylesheet" href="../css/login.css" />
    <title>采矿家--登陆</title>
</head>
<body>
  <div class="container">
    <div class="logo-area"></div>
    <div class="login-wrap">
      <div class="input-item"><input type="text" placeholder="请输入手机号"></div>
      <div class="input-item input-pwd"><input type="password" placeholder="请输入密码"></div>
      <div class="register-entry"><a href="./register.html">新用户注册</a></div>
      <div class="login-btn">登录</div>
    </div>
    <div class="footer">如果忘记密码，请联系客服 028-66666666</div>
  </div>
</body>
<script src="../libs/rem.js"></script>
</html>