
  body{
    background: #ebebeb;
  }
  .container{
    padding-top: .76rem;
  }
  .header{
    width: 100%;
    height: .76rem;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    z-index: 10;
  }
  .header>div{
    height: 100%;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
  }
  .header>div.icon-menu{
    width: .59rem;
  }
  .header>div.icon-menu img{
    width: .3rem;
    height: auto;
  }
  .header>div.icon-close{
    width: .59rem;
  }
  .header>div.icon-close img{
    width: .25rem;
    height: auto;
  }
  .header>div.icon-logo{
    -webkit-box-flex: 1;
  }
  .header>div.icon-logo img{
    width: 1.31rem;
    height: auto;
  }
  .header>div.icon-user{
    width: .64rem;
  }
  .header>div.icon-user img{
    width: .2rem;
    height: auto;
  }
  
  .menu{
    position: fixed;
    top: .76rem;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    z-index: 10;
    text-align: center;
    padding-top: .32rem;
    font-size: .18rem;
  }
  .menu ul li{
    width: 100%;
    height: .67rem;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    color: #000000;
  }
  .menu ul li.active a{
    color: #bf9477;
  }
  .menu ul li a{
    color: #000000;
  }
  
  
  .fiter-list{
    width: 100%;
    height: .47rem;
    padding-left: .12rem;
    padding-right: .15rem;
    background: transparent;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    font-size: .14rem;
  }
  .fiter-list .filter-btn{
    width: .5rem;
    height: .3rem;
    background: #000000;
    color: #ffffff;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    border-radius: .04rem;
  }

  .diamont-list{
    padding-bottom: .4rem;
  }
  .diamont-list ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
  }  
  .diamont-list li{
    width: 1.86rem;
    height: 2.22rem;
    padding-top: .4rem;
    padding-left: .2rem;
    padding-right: .2rem;
    margin-bottom: .025rem;
    background: #ffffff;
  }
  .diamont-list li div{
    width: 100%;
  }
  .diamont-list li div:nth-child(1){
    height: 1.2rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: start;
  }
  .diamont-list li div:nth-child(1) img{
    width: 1.11rem;
    height: auto;
  }
  .diamont-list li div:nth-child(2){
    font-size: .12rem;
    color: #3e3e3e;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .diamont-list li div:nth-child(3){
    height: .27rem;
    display: -webkit-box;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
  }
  .diamont-list li div:nth-child(3) p{
    -webkit-box-flex: 1;
    height: 1px;
    background: #d8d8d8;
  }
  .diamont-list li div:nth-child(3) span{
    padding-left: .12rem;
    padding-right: .12rem;
    color: #ed5757;
  }



  .filter-table{
    position: fixed;
    top: .76rem;
    right: 0;
    left: 0;
    bottom: .46rem;
    background: #ffffff;
    overflow: auto;
  }
  .filter-header{
    width: 100%;
    height: .76rem;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    z-index: 20;
  }
  .filter-header>div{
    height: 100%;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
  }
  .filter-header>div.icon-menu{
    width: .59rem;
  }
  .filter-header>div.icon-menu img{
    width: .3rem;
    height: auto;
  }
  .filter-header>div.icon-close{
    width: .59rem;
  }
  .filter-header>div.icon-close img{
    width: .25rem;
    height: auto;
  }
  .filter-header>div.icon-logo{
    -webkit-box-flex: 1;
  }
  .filter-header>div.icon-logo img{
    width: 1.31rem;
    height: auto;
  }
  .filter-header>div.icon-user{
    width: .64rem;
  }
  .filter-header>div.icon-user img{
    width: .2rem;
    height: auto;
  }

  .filter-con-list{
    padding-bottom: .2rem;
  }
  .filter-subject{
    padding-top: .05rem;
    padding-left: .13rem;
    padding-right: .13rem;
  }
  .filter-subject .filter-title{
    height: .42rem;
    padding-left: .02rem;
    display: -webkit-box;
    -webkit-box-align: center;
    font-size: .16rem;
    font-weight: normal;
  }
  .filter-subject .filter-item{
    display: flex;
    flex-wrap: wrap;
  }
  .filter-subject .filter-item span{
    width: 1.08rem;
    height: .33rem;
    background: #f5f5f5;
    color: #5c5c5c;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    margin-bottom: .1rem;
    margin-right: .11rem;
    border-radius: .05rem;
  }
  .filter-subject .filter-item span.active{
    background: #ec2845;
    color: #ffffff;
  }
  .filter-subject .filter-item span:nth-child(3n){
    margin-right: 0;
  }



  .filter-footer{
    width: 100%;
    height: .46rem;
    border-top: 1px solid #a0a0a0;
    display: -webkit-box;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
  }
  .filter-footer div{
    -webkit-box-flex: 1;
    height: 100%;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
  }
  .filter-footer div.btn-reset{
    background: #ffffff;
    color: #000000;
  }
  .filter-footer div.btn-submit{
    background: #ec2845;
    color: #ffffff;
  }