
.container{
  padding-top: .76rem;
}
.header{
  width: 100%;
  height: .76rem;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  z-index: 10;
}
.header>div{
  height: 100%;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}
.header>div.icon-menu{
  width: .59rem;
}
.header>div.icon-menu img{
  width: .3rem;
  height: auto;
}
.header>div.icon-close{
  width: .59rem;
}
.header>div.icon-close img{
  width: .25rem;
  height: auto;
}
.header>div.icon-logo{
  -webkit-box-flex: 1;
}
.header>div.icon-logo img{
  width: 1.31rem;
  height: auto;
}
.header>div.icon-user{
  width: .64rem;
}
.header>div.icon-user img{
  width: .2rem;
  height: auto;
}

.menu{
  position: fixed;
  top: .76rem;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  z-index: 10;
  text-align: center;
  padding-top: .32rem;
  font-size: .18rem;
}
.menu ul li{
  width: 100%;
  height: .67rem;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  color: #000000;
}
.menu ul li.active a{
  color: #bf9477;
}
.menu ul li a{
  color: #000000;
}


.swiper-container {
  width: 100%;
  height: 3.32rem;
}

.content{
  width: 100%;
  padding-top: .4rem;
  padding-bottom: .56rem;
  text-align: center;
  font-size: .12rem;
  background-image: url('../images/icon_quota_left.png'),url('../images/icon_quota_right.png');
  background-repeat: no-repeat;
  background-position: .32rem .32rem, 3.44rem .75rem;
  background-size: .2rem auto;
}
.content p{
  padding-top: .05rem;
  padding-bottom: .05rem;
}

.footer{
  background: #000000;
  height: 1.85rem;
  padding: 0 .17rem;
  color: #ffffff;
}
.footer .top{
  padding-left: .17rem;
  padding-right: .25rem;
  padding-top: .2rem;
  border-bottom: 1px solid #4c4c4c;
}
.footer .top p:nth-child(2){
  text-align: right;
  padding-top: .13rem;
  padding-bottom: .08rem;
}
.footer .bottom{
  color: #9b9b9b;
  text-align: center;
  padding-top: .1rem;
  font-size: .08rem;
}
.footer .bottom p:nth-child(2){
  margin: .04rem 0;
}