
  body{
    background-color: #ffffff;
  }
  .container{
    padding-top: .76rem;
  }
  .header{
    width: 100%;
    height: .76rem;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    z-index: 10;
  }
  .header>div{
    height: 100%;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
  }
  .header>div.icon-menu{
    width: .59rem;
  }
  .header>div.icon-menu img{
    width: .3rem;
    height: auto;
  }
  .header>div.icon-close{
    width: .59rem;
  }
  .header>div.icon-close img{
    width: .25rem;
    height: auto;
  }
  .header>div.icon-logo{
    -webkit-box-flex: 1;
  }
  .header>div.icon-logo img{
    width: 1.31rem;
    height: auto;
  }
  .header>div.icon-user{
    width: .64rem;
  }
  .header>div.icon-user img{
    width: .2rem;
    height: auto;
  }
  
  .menu{
    position: fixed;
    top: .76rem;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    z-index: 10;
    text-align: center;
    padding-top: .32rem;
    font-size: .18rem;
  }
  .menu ul li{
    width: 100%;
    height: .67rem;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    color: #000000;
  }
  .menu ul li.active a{
    color: #bf9477;
  }
  .menu ul li a{
    color: #000000;
  }

  .article{
    padding-left: .1rem;
    padding-right: .1rem;
    padding-bottom: .8rem;
  }
  .article>h1{
    padding-left: .08rem;
    padding-right: .08rem;
    font-size: .225rem;
    color: #2d2d2d;
    font-weight: normal;
  }
  .article .article-info{
    padding-left: .08rem;
    padding-right: .08rem;
    padding-bottom: .12rem;
    width: 100%;
    color: #aaaaaa;
    font-size: .14rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
  }
  .article .article-body{
    padding-left: .08rem;
    padding-right: .08rem;
    font-size: .14rem;
    color: #484848;
    line-height: 1.7;
  }
  .article .article-body img{
    width: 100%;
    height: auto;
    margin: .15rem 0;
  }
  .article .article-body p{
    text-indent: 2em;
    margin: .15rem 0;
    text-align: justify;
  }